
<h1>Places</h1>

<table>
  <thead>
    <tr>
      <td>pic</td>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= image_tag place.image.url(:thumb) %></td>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.image %></td>
        <td><%= link_to 'Show', place %></td>
      </tr>
    <% end %>
  </tbody>
</table>
