<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @place.image %>
</p>

<h1>Dishes</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @place.dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.price %></td>
        <td><%= dish.description %></td>
        <td><%= button_to 'Add to Cart', line_items_path(dish_id: dish) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div id="side">
  <div id="cart">
    <%= render @cart, place: @place %>
  </div>
</div>