<div class="row">
  <div class="col-md-9">
      <div class="thumbnail">
        <%= image_tag @place.image.url(:medium), class: "img-circle" %>
        <div class="caption">
          <h3 class="place-name">
            <%= link_to @place.name, @place %>
          </h3>
          <p class="place-desc">
            <%= @place.description %>
          </p>
        </div>
      </div>

  <% @place.dishes.each do |dish| %>
      <div class="thumbnail">
        <%= dish.name %>
        <div class="caption">
          <h3 class="place-name">
            <%= dish.price %>
          </h3>
          <p class="place-desc">
            <%= dish.description %>
          </p>
          <%= button_to 'Add to Cart', line_items_path(dish_id: dish) %>
        </div>
      </div>

  <% end %>


  </div>


  <div class="col-md-3">
<div id="side">
  <div id="cart">
    <%= user_signed_in? ? (render @cart, place: @place) : 'Log in before order' %>
  </div>
</div>
    </div>

</div>